* {
    box-sizing: border-box;
}

body {
    width: 100%;

    margin: 0;
}

#All {
    width: 1060px;

    margin: 0 auto;
}

button {
    border: none;
}

input {
    height: 30px;

    margin: 5px 0;
    padding: 0 10px;
}

textarea {
    resize: none;

    margin: 5px;
    padding: 0 10px;
}
.fullRowsRec textarea {
    margin: 5px 10px;
}

select {
    height: 30px;

    margin: 5px 0;
    padding: 0 10px;
}

/* Align */
.center {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-items: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
}

.spacebetween {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-align-items: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
}

.flexend {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
    -webkit-align-items: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
}

/* .inlineBlock {
    display: inline-block;
} */

/* Block & Br */
.block {
    width: 100%;
}

.br {
    width: 100%;
    height: 20px;
}

.tab {
    width: 20px;
    height: 100%;

    float:right;
}

/* Square */
.tinySquare { /* *_MailboxColumn, ORDER_OrderColumn */
    width: 60px;
    height: 60px;

    position: relative;

    background-color: #DDD;
}

.smallSquare { /* HOME_Recommend */
    width: 160px;
    height: 160px;

    position: relative;

    background-color: #BBB;
}

.middleSquare { /* HOME_Recommend, CATEGORY_ProductColumn */
    width: 190px;
    height: 190px;

    position: relative;

    background-color: #999;
}

.Square196 {
	width: 196px;
	height: 196px;

	position: relative;

	background-color: #999;
}

.largeSquare { /* HOME_Recent, *_Package */
    width: 220px;
    height: 220px;

    position: relative;

    background-color: #777;
}

/* Rectangle */
.titleBlock {
    width: 100%;
    height: 40px;
}

.smallBasketRec {
    width: 220px;
    height: 320px;
}

.bigBasketRec {
    width: 580px;
    height: 320px;
}

.productNameRec {
    width: 100%;
    height: 60px;

    background-color: #FFF;
}

.singleLineRec {
    height: 40px;

    float: left;

    margin: 0 20px;
}

.doubleLineRec {
    height: 60px;

    float: left;
    
    margin: 0 20px;
}

.buttonRec {
    height: 40px;

    float: right;
}

.textRec {
    height: 40px;

    display: inline-block;
}

.priceRec {
    height: 40px;

    float: right;
    margin-right: 20px;
}

.categoryRec {
    width: 340px;
    height: 210px;
}


.halfRowRec {
    width: 400px;
    height: 40px;
}

.halfTRowRec {
    width: 400px;
    height: 80px;
}

.halfRowsRec {
    width: 400px;
    height: 240px;
}

.fullRowRec {
    width: 820px;
    height: 40px;
}

.fullRowsRec {
    width: 820px;
    height: 180px;
}

.titleRec {
    width: 104px;
    height: 40px;

    display: inline-block;

    padding: 0 15px 0 20px;
}

.tinyInputRec {
    width: 40px;
    height: 30px;

    display: inline-block;
}

.smallInputRec {
    width: 113px;
    height: 30px;

    margin-left: 6px;
}

.middleInputRec {
    width: 163px;
    height: 30px;
}

.largeInputRec {
    width: 286px;
    height: 70px;
}

.hugeInputRec {
    width: 800px;
    height: 120px;
}

/* Button */
.circleButton {
    width: 40px;
    height: 40px;
    border-radius: 20px;

    display: none;

    cursor: pointer;
}

.smallSquare:hover .circleButton {
    display: -webkit-flex;
    display: flex;
}

.largeSquare:hover .circleButton {
    display: -webkit-flex;
    display: flex;
}

.roundCornerButton {
    height: 30px;
    border-radius: 15px;

    padding: 0 20px;

    cursor: pointer;
}

/* Interact */
.pointer {
    cursor: pointer;
}

.addToCollection {
    background-image:url(images/addToCollection.png);
    background-size: 40px 40px;

    position: absolute;
    top: 10px;
    left: 10px;
}
.addToCollection:hover {
    background-image:url(images/addToCollectionHover.png);
}

.addToBasket {
    background-image: url(images/addToBasket.png);
    background-size: 40px 40px;

    position: absolute;
    top: 10px;
    right: 10px;
}
.addToBasket:hover {
    background-image:url(images/addToBasketHover.png);
}

.removeFromBasket {
    background-image: url(images/removeFromBasket.png);
    background-size: 40px 40px;

    position: absolute;
    top: 10px;
    right: 10px;
}
.removeFromBasket:hover {
    background-image: url(images/removeFromBasketHover.png);
}

/* Font */
.chi_12 {
    font: 200 12px 'Noto Sans TC', sans-serif;
    line-height: 20px;
    color: #000;
}

.chi_16_s { /* Home_MainNav */
    font: 200 16px 'Noto Sans TC', sans-serif;
    line-height: 40px;
    color: #000;
}

.chi_16_d { /* Home_MainNav */
    font: 200 16px 'Noto Sans TC', sans-serif;
    line-height: 30px;
    color: #000;
}

.chi_20 {
    font: 200 20px 'Noto Sans TC', sans-serif;
    line-height: 40px;
    color: #000;
}

.eng_20 {
    font: 200 20px 'Noto Sans TC', sans-serif;
    line-height: 40px;
    color: #000;
}

.eng_60 {
    font: 400 60px 'Noto Sans TC', sas-serif;
    line-height: 60px;
    color: #000;
}

/* BackgroundColor & Color */
.card {
    background-color: #E6C1B1;

    color: #FFF;
}

.font {
    background-color: #998180;

    color: #FFF;
}

.gift {
    background-color: #A8CBCA;

    color: #FFF;
}

.submit {
    background-color: #F19EC2;

    color: #FFF;
}

.reset {
    background-color: #AAA;

    color: #FFF;
}

.edit {
    background-color: #B8C8A7;

    color: #FFF;
}

.delete {
    background-color: #777;

    color: #FFF;
}

.title {
    background-color: #DDD;
}

.onfocus {
    color: #000;
}

.onblur {
    color: #AAA;
}

/*------------------------------------------------------------*/

/*-- Header --*/
#HeaderBlock {
    width: 1060px;
    height: 120px;
}

    #HeaderBar {
        width: 1060px;
        height: 20px;
    }

        #BarNavBox {
            width: 400px;
            height: 20px;
            border-bottom: 1px solid #000;
        }

            .barNav {
                height: 20px;
            }

    #LogoBox {
        width: 160px;
        height: 100px;
    }

        #Logo {
            width: 100px;
            height: 100px;

            background-color: #DDD;
        }

    #MainNavBox {
        width: 500px;
        height: 100px;
    }

    #AccountNavBox {
        width: 200px;
        height: 100px;
    }

    #MailboxNavBox {
        width: 200px;
        height: 100px;

        position: relative;
    }

    #MailboxNavBox:hover #MailboxBox {
        display: -webkit-flex;
        display: flex;
    }

        /*-- Mailbox --*/
        #MailboxBox {
            width: 580px;
            height: 40px;
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);

            display: none;

            position: absolute;
            right: 0;
            top: 70px;
        }

/*-- PackageBasket --*/
#PackageBasketBlock {
    height: 360px;

    /*display: none;*/
}

    /*#ResetPackageBasket {
        margin-right: 20px;
    }*/

/*-- Recommend --*/
#RecommendBlock {
    height: 440px;
}

    #RecommendProductBox {
        width: 700px;
        height: 400px;
    }

    #RecommendAdBox {
        width: 340px;
        height: 400px;

        background-color: #DDD;
    }

/*-- Category --*/
#CategoryBlock {
    height: 250px;
}

/*-- Recent --*/
#RecentBlock {
    height: 440px;
}

/*------------------------------------------------------------*/
#PackageBlock {
    height: 540px;
}

    #PackageMainBox{
        width: 820px;
        height: 540px;
    }

        #PackageDateMailed {
            height: 30px;
        }

    #PackageMenuBox{
        width: 220px;
        height: 540px;
    }