* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

body::-webkit-scrollbar { 
    display: none; 
}

.a40 {
	height: 40px;
}

input {
	border-style: none;

	padding: 0px 10px;

    background-color: #FFF;
}

button {
	border-style: none;

	padding: 0px;
}

select {
	-webkit-appearance: none;
    -webkit-border-radius: 0px;
    border-style: none;
    background: url(../images/select_bar.png);
    background-size: 15px 15px;
    background-position: 95% 50%;
    background-repeat: no-repeat;

    padding: 0px 10px;

    background-color: #FFF;
}

textarea {
	border-style: none;

	padding: 0px 10px;

	resize: none;
}

.border {
	border: 1px solid #AAA;
}

/*_____________ Align _____________*/
.flexbox {
	display: -webkit-flex;
	display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-align-items: flex-start;
            align-items: flex-start;
	-webkit-flex-wrap: wrap;
            flex-wrap: wrap;
}

.center {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-items: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
}

.spacebetween {
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-align-items: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
}

.flexstart {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    -webkit-align-items: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
}

.flexend {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
    -webkit-align-items: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
}

/*_____________ Block & Tab _____________*/
.block {
	width: 100%;
}

.br {
	height: 20px;
	width: 100%;
}

.block40 {
	height: 40px;
	width: 100%;
}

.block60 {
	height: 60px;
	width: 100%;
}

.block80 {
	height: 80px;
	width: 100%;
}

.block100 {
	height: 100px;
	width: 100%;
}

.block120 {
	height: 120px;
	width: 100%;
}

.block220 {
	height: 220px;
	width: 100%;
}

.tab {
	width: 20px;
	height: 100%;

	display: inline-block;
}

/*_____________ Square _____________*/
.square60 {
	width: 60px;
	height: 60px;

	position: relative;
}

	.square60:hover .circle {
		display: -webkit-flex;
        display: flex;
	}

.square160 {
	width: 160px;
	height: 160px;

	position: relative;

	background-color: #CCC;
}

	.square160:hover .circle {
        display: -webkit-flex;
        display: flex;
    }

.square190 {
	width: 190px;
	height: 190px;

	position: relative;

	background-color: #BBB;
}

	.square190:hover .circle {
        display: -webkit-flex;
        display: flex;
    }

.square196 {
	width: 196px;
	height: 196px;

	position: relative;

	background-color: #AAA;
}

	.square196:hover .circle {
        display: -webkit-flex;
        display: flex;
    }

.square220 {
	width: 220px;
	height: 220px;

	position: relative;

	background-color: #999;
}

	.square220:hover .circle {
        display: -webkit-flex;
        display: flex;
    }

/*_____________ Square Interaction _____________*/
.insertCollection {
    background-image:url(../images/addToCollection.png);
    background-size: 40px 40px;

    position: absolute;
    top: 10px;
    left: 10px;
}
.insertCollection:hover {
    background-image:url(../images/addToCollectionHover.png);
}

.addToBasket {
    background-image: url(../images/addToBasket.png);
    background-size: 40px 40px;

    position: absolute;
    top: 10px;
    right: 10px;
}
.addToBasket:hover {
    background-image:url(../images/addToBasketHover.png);
}

.removeFromBasket {
    background-image: url(../images/removeFromBasket.png);
    background-size: 40px 40px;

    position: absolute;
    top: 10px;
    right: 10px;
}
.removeFromBasket:hover {
    background-image: url(../images/removeFromBasketHover.png);
}

/*_____________ Text, Price Rectangle & Button _____________*/
.textRec {
	height: 40px;

	display: inline-block;
}

.textRecTab {
	height: 40px;

	margin-left: 10px;

	display: inline-block;
}

.textRec_s {
	height: 40px;

	margin: 0px 20px;
	float: left;
}

.textRec_d {
	height: 60px;

	margin: 0px 20px;
	float: left;
}

.priceRec {
	height: 40px;

	margin-right: 20px;
	float: right;
}

.quantityRec {
	width: 40px;
	height: 20px;
}

.buttonRec {
	height: 40px;

	float: right;
}

.button {
	height: 30px;
	border-radius: 15px;

	margin-left: 20px;
	padding: 0px 20px;

	cursor: pointer;
}

.circle {
	width: 40px;
	height: 40px;
	border-radius: 20px;

	display: none;

	cursor: pointer;
}

/*_____________ Font _____________*/
.chi_12 {
    font: 200 12px 'Noto Sans TC', sans-serif;
    line-height: 20px;
}

.chi_16_s {
    font: 200 16px 'Noto Sans TC', sans-serif;
    line-height: 40px;
}

.chi_16_d {
    font: 200 16px 'Noto Sans TC', sans-serif;
    line-height: 28px;
}

.chi_16_q {
    font: 200 16px 'Noto Sans TC', sans-serif;
    line-height: 16px;
}

.chi_20 {
    font: 300 20px 'Noto Sans TC', sans-serif;
    line-height: 40px;
}

.chi_24 {
    font: 200 24px 'Noto Sans TC', sans-serif;
    line-height: 60px;
}

.eng_20 {
    font: 300 20px 'Noto Sans TC', sans-serif;
    line-height: 40px;
}

.eng_32 {
    font: 300 32px 'Noto Sans TC', sans-serif;
    line-height: 40px;
}

.eng_60 {
    font: 400 60px 'Noto Sans TC', sas-serif;
    line-height: 60px;
}

/*_____________ Text-align _____________*/

.textAlign {
	text-align: center;
}

/*_____________ Color _____________*/
.onfocus {
	color: #000;
}

.onblur {
    color: #AAA;
}

/*_____________ Background-color _____________*/
.card {
    background-color: #E6C1B1;
    color: #FFF;
}

.font {
    background-color: #998180;
    color: #FFF;
}

.gift {
    background-color: #A8CBCA;
    color: #FFF;
}

.submit {
    background-color: #F19EC2;
    color: #FFF;
}

.reset {
    background-color: #AAA;
    color: #FFF;
}

.edit {
    background-color: #B8C8A7;
    color: #FFF;
}

.delete {
    background-color: #777;
    color: #FFF;
}

.title {
    background-color: #DDD;
    color: #000;
}

.text {
	background-color: #FFF;
	color: #000;
}

/*_____________ Interaction _____________*/
.cursor {
	cursor: pointer;
}